<div class="container">  
  <h1>Editing <%= @roster.name.capitalize %> Roster</h1>

  <%= render 'form', roster: @roster %>

  <%= link_to 'View', @roster %> |
  <%= link_to 'Back', rosters_path %>
</div>  
