<div class="container">  
  <h1>Qualifications</h1>

  <div>
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Acronym</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @quals.each do |qual| %>
          <tr>
            <td><%= qual.name.titleize %></td>
            <td><%= qual.acronym.upcase %></td> 
            <td>
              <%#= link_to 'Edit', edit_qualification_path(qual) %>
              <%#= link_to 'Delete', qualification_path(qual),
                                                method: :delete,
                                                data: { confirm: "Are you sure you want to delete \'#{qual.name.titleize}'?"} %>
              <%= qual_links qual %>                                  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Qual', new_qualification_path, class: 'btn btn-outline-primary' %>

  </div>
</div>  
