<div class="container">
  <div class="card registration-card col-md-8">
    <div class="card-body">    

      <h2>New Qualification</h2>

      <%= render 'form' %> 

    </div>
  </div>
</div>      