<% if user.certifications.count > 0 %>
  <ul class="quals">
    <% user.certifications.order(:acronym).each do |cert| %>
      <li>
        <%= cert.acronym.upcase %>
      </li>
    <% end %>
  </ul>
<% end %>