@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datetimepicker";
@import 'lightbox';

$warning: #ffc107;
$danger: #dc3545;
$success: #28a745;
$blue: #007bff;


// Shift Colors //

.A {
  color: black;
}

.B {
  color: $danger;
}

.C {
  color: $success;
}

.Admin {
  color: $warning;
}

//

body {
  // min-height: 75rem;
  padding-top: 8rem;
}

.nav-padding-left {
  padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark {
  .navbar-nav {
    .user-nav-link {
      font-size: 14px;
    }
  }
}

.muted {
  color: gray;
}

.roster-container {
  small {
    font-size: 20px;
  }
}
.highlight {
  font-size: 22px;
  color: #007bff;
}

.edit-btn {
  color: $warning;
  &:hover {
    color: darken($warning, 10%);
  }
}

.delete-btn {
  color: $danger;
  &:hover {
    color: darken($danger, 10%);
  }
}

// Users //

.registration-card {
  margin-left: auto;
  margin-right: auto;
}

.quals {
  li {
    list-style: none;
    font-size: 12px;
  }
}


// Roster //

.roster-card {
  margin: 40px 0;
}

.bootstrap-datetimepicker-widget table td.day {
  color: $blue;
}

.bootstrap-datetimepicker-widget table td.disabled {
  color: gray;
}

.bootstrap-datetimepicker-widget table td.old {
  color: gray;
}

// .thumbnail img {
//   height: 100px;
//   margin: 4px;
//   border: 1px solid #444;
// }

#preview {
  img {
    margin-bottom: 10px;
  }
  .remove {
    display: block;
    // background: #444;
    // border: 1px solid black;
    color: $danger;
    text-align: center;
    cursor: pointer;
  }
  .remove:hover {
    color: darken($danger, 30%);
  }
}



