@import "bootstrap";
@import "font-awesome";

$warning: #ffc107;

body {
  // min-height: 75rem;
  padding-top: 5rem;
}

.nav-padding-left {
  padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark {
  .navbar-nav {
    .user-nav-link {
      font-size: 14px;
    }
  }
}

.roster-container {
  small {
    font-size: 20px;
  }
}
.highlight {
  font-size: 22px;
  color: #007bff;
}

.edit-btn {
  color: $warning;
  &:hover {
    color: darken($warning, 10%);
  }
}

// Users //

.registration-card {
  margin-left: auto;
  margin-right: auto;
}

.quals {
  li {
    list-style: none;
    font-size: 12px;
  }
}


// Roster //

.roster-card {
  margin: 40px 0;
}