@import "bootstrap";
@import "font-awesome";

$warning: #ffc107;

body {
  min-height: 75rem;
  padding-top: 5rem;
}

.nav-padding-left {
  padding-left: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.roster-container {
  small {
    font-size: 20px;
  }
}
.highlight {
  font-size: 22px;
  color: #007bff;
}

.edit-btn {
  color: $warning;
  &:hover {
    color: darken($warning, 10%);
  }
}


// Roster //

.roster-card {
  margin-top: 40px;
}