<!-- Button trigger modal -->
<%= button_tag('Add Images', 'data-toggle': 'modal', 'data-target': '#imagesModal', class: 'btn btn-outline-primary') %> 

<!-- Modal -->
<div class="modal fade" id="imagesModal" tabindex="-1" role="dialog" aria-labelledby="imagesModalLabel" aria-hidden="true">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imagesModalLabel">Add Deployment Images</h5>
        <%= button_tag(fa_icon("times", class: 'fa-lg'), 'data-dismiss': 'modal', 'aria-label': 'Close', class: 'close') %>
      </div>
      <div class="modal-body">
        <%= render "image_form" %>
      </div>
    </div>
  </div>
</div>