<div class="container">  

  <h1 class="mb-3">Editing <%= @deployment.name.titleize %> Deployment</h1>

  <%= render 'form', deployment: @deployment %>

  <%= link_to 'Show', @deployment %> |
  <%= link_to 'Back', deployments_path %>

</div>  
